* {
    margin: 0;
    padding: 0;

}

body,
html {
    overflow-x: hidden;
}

@media screen and (max-width:600px) {
    .mainheader {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 360px;
        margin-top: 30px;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        padding-left: 30px;
        line-height: -100px;
    }

    .testmonial {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;


    }

    .main-about {
        display: flex;
        flex-direction: column;
    }

    .main-about .images img {
        width: 100% !important;


    }

    .n2dcards {
        justify-content: center;
        display: flex;
        padding: auto;
    }

    .innovation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .innovimg img {
        width: 100% !important;
    }

}

.mainheader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerdiv h1 {
    color: blue;
    padding-left: 5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: none;
}

.navbar li a {
    color: black;
    text-decoration: none;


}

.navbar select {
    border: none;
    background-color: white;
}

.new-menu h4 {
    padding: 10px;
    color: black;
    border: none;

}

.new-menu {
    display: flex;
    justify-content: center;
    gap: 9px;
}

.firstbanner {
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(rgb(34, 82, 172), rgb(226, 226, 69));
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.maindiv {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 3px;

}

.banner h2 {
    color: white;
    font-size: 40px;
}

.headingpa h2 {
    color: yellow;
    font-size: 40px;
}

.headingp1 {
    color: white;
    font-size: 30px;
}

.firstbanner p {
    font-size: 24px;
    padding-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;

    padding-top: 20px;
}

.firstbanner button {
    margin-top: 10px;
    color: white;
    background-color: #F59E0B;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Aboutsec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    height: 20vh;
    padding-top: 50px;
    gap: 13px;
    background-color: rgb(240, 236, 236);
}

.Aboutsec h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Aboutsec p {
    width: 50%;
    display: flex
}

.cardssec {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 236, 236);
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.cards {
    width: 320px;
    box-shadow: 2px 4px 14px 6px rgb(158, 156, 156);
    border-radius: 15px;
    padding: 2rem;
    background-color: white;
}

.cards img {
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 40vh;
    border: none;
    border-radius: 15px;
}


.cards h2 {
    margin-top: 15px;
}

.cards p {
    padding-top: 5px;
    width: 80%;
}

.n2dcards {
    display: flex;
    padding-left: 80px;

    padding-top: 5px;
    padding-bottom: 50px;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(240, 236, 236);
}

.nexcards {
    width: 320px;
    box-shadow: 2px 4px 14px 6px rgb(158, 156, 156);
    border-radius: 15px;
    padding: 2rem;
    background-color: white;
}

.nexcards img {
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 40vh;
    border: none;
    border-radius: 15px;
}

.undersec {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: rgb(240, 236, 236);
    padding-bottom: 30px;

}

.undersec button {
    background-color: #2563EB;

    border: none;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
    border: none;


}

.undersec button a {
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.choose {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 25vh;
    gap: 1rem;
}

.testmonial {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.choosecard h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: blue;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.choosecard h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choosecard p {
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}



.main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    padding: 6rem;

}

.main-about .images img {
    width: 35vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.inner-about p {
    width: 70%;
}

.inner {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.inner .icon {

    margin-bottom: 1rem;
    /* padding-top: 40px; */

}

.innovation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 50px;
    padding-bottom: 50px;


}

.inner-above {
    display: flex;
    flex-direction: column;



}

.inner-above h2 {
    padding-bottom: 18px;
}


.inovo {
    display: flex;
    gap: 1rem;
    padding-top: 30px;
}

.innovimg img {
    border: none;
    border-radius: 15px;
    width: 38vw;
}

.certitest {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(211, 211, 211);
    padding-bottom: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.Cretificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30PX;
    gap: 17px;
}

.Cretificate h2 {
    text-align: center;
}

.small-testmonial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.card1 {
    background-color: white;
    width: 20vw;
    height: 33vh;
    box-shadow: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    gap: 4px;
    padding-bottom: 18px;
    padding-top: 18px;
}

.card2 {
    background-color: white;
    width: 20vw;
    height: 33vh;
    box-shadow: gray;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    padding-bottom: 18px;
    padding-top: 18px;

}

.card3 {
    background-color: white;
    gap: 4px;
    width: 20vw;
    height: 33vh;
    box-shadow: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    padding-bottom: 18px;
    padding-top: 18px;
}

/* neew */

.art {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.manufacturing {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px;
    padding-bottom: 60px;
}

.new-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 40px;
}

.Artnew {
    padding-top: 20px;
    background-image: url("Innovation value.jpg");
    width: 400px;
    flex-wrap: wrap;
    height: 40vh;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    position: relative;
    box-shadow: 2, 5, 7, 6 black;
    flex-direction: row;

}

.Artnew::before {
    background-color: black;
    display: block;
    position: absolute;
    opacity: 0.7;
    top: 0;
    border-radius: 8px;
    content: " ";
    bottom: 0;
    right: 0;
    left: 0;

}

.imgback {
    z-index: 12;
    color: white;
}

.Artnew h3 {
    color: white;
    justify-content: center;
}

.Artnew h3 {
    padding-left: 12px;
}


.Artnew p {
    width: 90%;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.copycard {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    height: 32vh;
}

.projecthanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px;
}

.nextcards img {
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 40vh;
    border: none;
    border-radius: 15px;
}

/*section11*/
.trustpar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;
    padding-top: 62px;
}

.Partners h2 {
    padding-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Partners p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.partnersdiv {
    display: flex;
    gap: 11vw;
    padding-top: 62px;
    padding-bottom: 62px;
}

.newinsight {
    display: flex;
    justify-content: center;
    padding-left: 30px;

    flex-direction: column;
    gap: 32px;
    padding-top: 0px;
    background-color: #F9FAFB;
    padding-bottom: 32px;
    gap: 12px;
    opacity: 1;

}

.insight {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;

    padding-top: 22px;
    margin-bottom: 42px;

}

.insight h2 {
    padding-bottom: 5px;
    font-size: 30px;
}

.closeall {
    display: flex;
    float: left;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    gap: 12px;
    border: 2px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 50px;


}

.miximg img {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 30vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.paradiv {
    padding-left: 12px;
    display: flex;
    gap: 20px;
}

.hpinsight {
    padding-left: 12px;
    gap: 10px;
}

.insightbut {
    padding-left: 10px;
    padding-top: 15px;
}

/* footer section */
.footer {
    background-color: #111827;
    display: flex;

    justify-content: center;
    padding-bottom: 70px;

}

.footer div {
    width: 22vw;

}

.footh h3 {
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 29px;
    width: 20vw;

    color: white;
    padding-bottom: 20px;
}

.footh p {
    color: white;
    padding-left: 29px;
    width: 20vw;
    padding-bottom: 12px;
    color: white;
}

.iconsfoot {
    display: flex;
    align-items: center;
    padding-left: 29px;
    gap: 12px;
    color: wheat;
}

.linksfoot {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 30px;
    width: 10vw;
    padding-bottom: 12px;
    color: white;
    padding-bottom: 20px;

}

.link {
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.link a {
    text-decoration: none;
    color: white;

}

.contactfooter {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 19px;
    width: 14vw;

    padding-bottom: 20px;
}

.infofoot h4 {
    padding-top: 20px;
    padding-bottom: 12px;
    gap: 12px;
}

.Newsletter {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 29px;
    width: 14vw;
    color: white;
    gap: 12px;
}

.buttonfoot {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
}

.buttonfoot input {
    background-color: gray;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

.buttonfoot input::placeholder {
    background-color: gray;
    color: white;
    width: 70%;
    border: none;
    padding-left: 4px;
    border-radius: 7px;
}

.buttonfoot button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: orange;
    border: none;
    border-radius: 6px;
}