* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}

.both {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 2rem;
    box-shadow: 0px 0px 3px 2px rgb(206, 204, 204);
}

.card i {
    font-size: 2.5rem;
}

.form {
    box-shadow: 0px 0px 3px 2px rgb(206, 204, 204);
    padding: 3rem;

}

.form form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 1.5rem;
    border: none;
    background-color: rgb(243, 237, 237);

}

.footer img {
    width: 7rem;
}

.footer h2 {
    color: rgb(10, 68, 10);
}

.footer p i {
    margin-right: 1rem;
}

.footer div {
    width: 33vw;
    margin-top: 6rem;
}

.footer ul li:hover {
    color: rgb(56, 248, 8);
}

footer {
    color: white;
    text-align: center;
    padding: 1rem;
}

@media(max-width:748px) {
    .both {
        flex-direction: column-reverse;
    }

    .cards,
    .form {
        width: 100%;
    }

    .map iframe {

        width: 80vw;
    }

    .footer {
        flex-direction: column;
        width: 80vw;

        align-items: center;
    }

}