 @media (max-width: 992px) {
     .fw-bold {
         font-size: 32px;
     }

     .lead {
         font-size: 18px;
         padding-left: 20px;
         padding-right: 20px;
     }

     .btn-custom {
         width: 40%;
         font-size: 18px;
         padding: 10px;
     }
 }

 /* For mobile devices */
 @media (max-width: 760px) {
     .fw-bold {
         font-size: 26px;
         line-height: 1.3;
     }

     .lead {
         font-size: 16px;
         padding-left: 10px;
         padding-right: 10px;
     }

     .btn-custom {
         width: 60%;
         font-size: 16px;
         padding: 8px;
     }

     .logo img {
         max-width: 120px;
     }

     .hero {
         height: 100vh;
         background-position: -550px;
     }
 }




 /* For very small phones */
 @media (max-width: 480px) {
     .fw-bold {
         font-size: 22px;
     }

     .lead {
         font-size: 14px;
     }

     .btn-custom {
         width: 80%;
         font-size: 14px;
         padding: 6px;
     }
 }


 /* section 01 */



 /* For tablets */
 @media (max-width: 992px) {
     .mission-services h2 {
         font-size: 28px;
     }

     .mission-services p {
         font-size: 15px;
     }

     .mission-services h5 {
         font-size: 24px;
     }

     .btn-join {
         padding: 8px 20px;
         font-size: 15px;
     }

     .col-lg-6 img {
         width: 100%;
     }
 }

 /* For mobile devices */
 @media (max-width: 768px) {
     .mission-services h2 {
         font-size: 24px;
         text-align: center;
     }

     .mission-services p {
         font-size: 14px;
         text-align: center;
     }

     .mission-services h5 {
         font-size: 20px;
         text-align: center;
     }

     #col_01 {
         padding-left: 0;
     }

     .mission-services ul li {
         font-size: 14px;
     }

     .btn-join {
         display: block;
         margin: 20px auto 0;
         font-size: 14px;
         width: 70%;
     }

     .col-lg-6 img {
         width: 80%;
         margin-top: 20px;
     }
 }

 /* For very small phones */
 @media (max-width: 480px) {
     .mission-services h2 {
         font-size: 20px;
     }

     .mission-services p {
         font-size: 13px;
     }

     .mission-services ul li {
         font-size: 13px;
     }

     .btn-join {
         width: 90%;
         font-size: 13px;
         padding: 8px;
     }

     .col-lg-6 img {
         width: 100%;
     }
 }

 /* section 02 */

 /* Responsive Code */
 @media (max-width: 992px) {
     .impact-stats {
         grid-template-columns: repeat(2, 1fr);
         /* 2 per row on tablets */
     }
 }

 @media (max-width: 576px) {
     .impact-stats {
         grid-template-columns: 1fr;
         /* 1 per row on mobile */
     }

     .stat-number {
         font-size: 32px;
         /* Slightly smaller for mobile */
     }

     .impact-heading {
         font-size: 22px;
     }

     .impact-subtitle {
         font-size: 14px;
     }
 }